@import url("https://fonts.google.com/specimen/Tiro+Devanagari+Marathi");

body{
    margin: 0px;
    padding: 0px;
    background: red;    
    font-family: 'Tiro Devanagari Marathi', serif;
}

header{
    display: flex;
    justify-content: space-between;    
}

/*incline vs block*/
nav li{
    display: inline;
    list-style-type: none;
}

a{
    margin-left: 40px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

#seccion1{
    background: #cdcdcd;
    font-family: 'Times New Roman', Times, serif;
}